// Import the variables file
@import '../variables';

header {
  background-color: $header-bg-color;
  color: white;
  padding: 1rem;

  h1 {
    font-size: 2rem;
  }

  ul {
    list-style: none;
    float: right;

    li {
      display: inline;
      margin-left: 2rem;

      a {
        color: white;
        text-decoration: none;

        &:hover {
          color: $button-color;
        }
      }
    }
  }
}
